/*general*/
body 
{
    padding-top: 51px;
    font-family: 'Source Sans Pro', sans-serif;
    
}

h2{
     font-family: 'Source Sans Pro', sans-serif;
      color:rgb(5, 48, 117);
}

h3{
    font-family: 'Sofia', cursive;
    color:rgb(5, 48, 117);
}

.thumbnail{
    background-color: transparent;
    border:none;
}


.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}



/*navigation*/

.navbar-default .navbar-brand {
    color:rgb(5, 48, 117);
    margin-right:50px;
    font-family: 'Sofia', cursive;
    font-size:24px;
}

.navbar-default .navbar-nav li a{
    color:rgb(5, 48, 117);
    
}

.navbar-default .navbar-nav li a:hover{
    background-color:rgba(5, 48, 117,0.5);
    color:white;
}

.navbar-default .navbar-brand:hover {
    font-family: 'Sofia', cursive;
     color:rgba(163, 106, 127,1);
}

a{
    color:rgb(5, 48, 117);
}

a:hover{
   color:rgba(163, 106, 127,1);
   font-weight:bold;
   text-decoration: none
}

/*identification*/
#user{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height:20px;
}

#name{
    color:rgb(5, 48, 117);
    font-weight:bold;
}

/*formulaires*/

hr {
    color:rgba(5, 48, 117,1); 
}

#connexion {
    background-image: url("/Projet_4/public/images/alaska.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;   
}

.formbox {
    margin-top: 50px;
    margin-bottom:50px;
    background-color: rgba(255, 236, 255,0.8);
    border: 2px solid rgba(224, 236, 255, 0.8);
    padding: 20px;
    border: 4px solid rgba(224, 236, 255, 0.8);
}

label {
    margin-top: 10px;
}

.formbox button {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(255, 236, 255,1);
    color:rgb(5, 48, 117);
    border: 2px solid rgb(5, 48, 117);
}

.formbox button:hover{
    color:rgba(255, 236, 255,1);
    background-color: rgba(163, 106, 127,1);
    border: 2px solid rgba(255, 236, 255,1);
}

input,#comment{
    border: 2px solid rgba(224, 236, 255, 0.8);
}

#author,#comment{
    width:200px;
}

#confirmation{
    color:green;
}

#erreur{
    color:red;
}

/*tiny-mce*/
#mceu_11{
    margin-top:10px;
}




/*accueil*/

#home{
    background-image: url("/Projet_4/public/images/alaska.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

#homebox{
    background-color: rgba(255, 236, 255,0.9);
    border: 2px solid rgba(224, 236, 255, 0.8);
    padding: 20px;   
    padding-top:100px;
}

/*page listPostView*/
.container-fluid .jumbotron{
    background-color: rgba(255, 236, 255,0.9);
    border-radius:0;
    color:rgb(5, 48, 117);
    font-family: 'Sofia', cursive;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

.back {
    background-image: url("/Projet_4/public/images/alaska.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.chapter{
    background-color: rgba(255, 236, 255,0.9);
    border: 4px solid rgba(224, 236, 255, 0.8);
    padding: 20px;
    margin-top:20px;
    margin-bottom:40px;
}

.row p {
    text-align: justify;
    padding:20px;
   
}

.allbackground
{
    background-color: rgba(255, 236, 255,0.9);
    border-radius:10px;
    border:4px solid rgba(224, 236, 255, 0.8);
    text-align: justify;
    padding: 20px;
    color:black;
}

/*page commentView*/
#report{
    color:red;
}


/*page editView*/
.edit-menu{
  color:rgb(5, 48, 117);
  font-size:20px;
  background-color: rgba(255, 236, 255,0.6);
  padding:5px;
  border:inset 2px rgb(5, 48, 117);
  border-radius:2px;
   
}

#edit-content{
    margin-top:50px;
}

#edit-button{
background-color: rgba(255, 236, 255,1);
color:rgb(5, 48, 117);
border: 2px solid rgb(5, 48, 117);
font-weight:bold;
margin-bottom:40px;
}

#edit-button:hover{
    color:rgba(255, 236, 255,1);
    background-color: rgba(163, 106, 127,1);
    border: 2px solid rgba(255, 236, 255,1);
}


#edit-content input{
    margin-top:40px;
    margin-bottom:20px;
    width:250px;
}

/*footer*/
footer {
    background-color: rgb(5, 48, 117);
    padding: 20px;
    color:white;
}


footer .btn {
    
background-color: rgba(255, 236, 255,1);
color:rgb(5, 48, 117);
border: 2px solid rgb(5, 48, 117);
font-weight:bold;
margin-bottom:40px;

}

footer .btn:hover {
     color:rgba(255, 236, 255,1);
    background-color: rgba(163, 106, 127,1);
    border: 2px solid rgba(255, 236, 255,1);
}

footer h3{
    color:white;
    font-family: 'Sofia', cursive;
}

.form-control{
    background-color: rgba(255, 236, 255,0.5);
}


.footer-link{
    color:white;
}

.footer-link:visited{
    color:white;
}
.footer-link:hover{
    color: rgba(163, 106, 127,1);
}